<% if chore_list != [] %>
      <div id="list-container">
      <div class="items zero-padding">
      <% chore_list.each do |chore| %>
          <div class="item">
            <button class="<%= decide_button_class(chore.past_due, chore.frequency)%> select-button" id="<%= chore.id%>" data-id="<%= [chore.id, list.id] %>">
              <%= decide_time_of_day chore %>
            </button>
          </div>
      <% end %>
        </div>
      </div>
<% else %>
<br><br>
  <center>Woohoo!  All done! Great work!</center>
<br>
<% end %>