<div class="col-xs-8 col-md-8">
    <h2>Tidy Tips</h2><br><br>
    <div class="tip"></div>
</div>
<div style="vertical-align: bottom">
    <center>|<a href="#" class="random-tip">--GIVE ME ANOTHER--</a>|</center>  
</div>

  