<div class="col-xs-8 col-md-8">
    <h2>Tidy Tips</h2><br>
    <div class="tip"></div>
</div>
<div style="vertical-align: bottom">
    <center>|<a href="#" class="random-tip">Show Me Another Tip...</a>|</center>  
</div>

  