
<div class="dummycolumn">
  .<br>.<br>.<br>
</div>


<div class="column1">
    <center>
      <h1>Welcome, <%= current_user.name %></h1>
      <h3>Select the list you want to work on.</h3>
    </center>
</div>
<div class="column1">
  <% @lists.each do |list| %>
    <%= list.name %>
  <% end %>
</div>

<div class="container">
  <img class="list" src="images/clean_kitchen_final2.jpg" alt="kitchen" />
  <div class="imgtxt">
    HOME
  </div>
</div>






