
<div class="dummycolumn">
  .<br>.<br>.<br>
</div>
<div class="column1">
    <center><h1>Your Profile</h1></center>
  </div>
<div class="column1_line">
  <div class="alignright_profile">
    <center>
      <h3>Your Email:</h3>
      <%= current_user.email %><br><br>
      <%= render 'devise/passwords/edit_form' %>
    </center>
  </div>

  <div class="column1_line">
    <center>
      <h3>Looking to leave?</h3>
      <%= button_to "Cancel your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </center>
  </div>

  </div>


  <div class="column1">
    <%= link_to "Back", :back %>
  </div>
  
</div>