

  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    width: 100%;
    text-align: center;
    font-family: "Raleway";

  }

  .zero-padding {
    padding: 0px;
    margin: 0px;
  }

  .fixed-sidebar {
    position: fixed;
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
  }

  .right-bar {
      visibility: hidden;
      display: none;
  }

  .users-bar {
      padding-top: 0px;
      margin-left: 5px;
      margin-top: 15px;
      text-align: left;
  }

  .edit-bar {
    padding-top: 0px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
}

  .white-background {
      background-color: white;
  }

.legend {
    font-size: .9em;
    padding: 3px;
    max-width: 35%;
    color: white;
    margin-bottom: 2px;
}

.daily {
    background-color: rgb(69, 193, 209);
}

.weekly {
    background-color: #57BC90;
}

.monthly {
    background-color: #015249;
}

.pastdue {
    background-color: #FF533D;
}

.privacy {
    text-align: left;
}


  

  .border {
      border-width: medium;
  }
  .top-padding{
      padding-top: 0px;
  }
  
  .padding0 {
    padding: 0px;
}
  
  .padding1 {
    padding: 1px;
}
  
  .padding2 {
      padding: 2px;
  }

  .padding3 {
    padding: 3px;
}
.padding4 {
    padding: 4px;
}
.height60 {
    height: 60px
}

.listname_home {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.align-text-bottom {
    vertical-align: bottom;
    padding: 2px;
}

.line {
    border-top: 2px solid #ccc;
}

.list-border {
    border-radius: 5%;
}

.lists-border {
    border: 1px solid #ccc; 
    overflow-x: hidden;
}

.inline {
    display: inline-block;
}

.curve {
    border-radius: 4px;
}

.chore-container {
    margin-left: 25%;
    margin-right: 0px;
    padding: 0px;
    background-color: white;
    width: 75%;
}

.fixed {
    position: fixed;
    z-index: 1000;
}


/* Responsive */




   h1 {
    font-size: 1.5em;
    display: inline-block;
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 24px;
    display: inline-block;
    font-family: 'Lobster', cursive;
  }

  h3 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    font-family: 'Lobster', cursive;
    text-align: center;
  }

  h5 {
    border-top: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Lobster', cursive;
  }

  .completed-items {
    display: flex;
    flex-wrap: wrap;
}


.completed-items .completed-item {
    flex: 1 0 25%;
    box-sizing: border-box;
    flex-basis: 31%;
    margin: 2px;
}

.items {
    display: flex;
    flex-wrap: wrap;
}
.items .item {
    flex: 1 0 25%;
    box-sizing: border-box;
    flex-basis: 31%;
    margin: 2px;
}



.lists {
    display: flex;
    flex-wrap: wrap;
}
.lists .list {
    flex: 1 0 25%;
    box-sizing: border-box;
    padding: 0px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

.index-bg {
    background-color: rgb(230, 228, 228);
}

  ul {
    
    width: 100%;   
  }

  a {
    text-decoration: none;
  }

  p {
    margin-bottom: 18px;
    font-family: "Raleway";
  }

  .right-border {
      border-right: 2px solid rgb(77, 76, 76);
  }

  .bottom-border {
    border-bottom: 2px solid rgb(77, 76, 76);
}

  img.photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  img.user-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 15px;
  }

  img.list_icon {
    height: 50px;
  }

  img.logo {
    width: 50px;
    height: 50px;
  }

  img.edit {
    width: 25px;
    height: 25px;
  }

  img.star {
    width: 25px;
    height: 25px;
  }

  img.star-index {
      width: 125px;
      height: 125px;
  }

  img.list {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }





  /* RESPONSIVE NAVBAR */
  .dropbtn {
      color: rgb(128, 126, 126);
      padding: 0px 3px 0px;
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 3px;
      margin-bottom: 0px;
      font-size: 1.75em;
      border: none;
      cursor: pointer;
      height: auto;
      overflow: hidden;
  }
  .dropdown {
      float: left;
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {
    background-color: #aaa;
    color: white;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropdown:hover .dropbtn {
      background-color: white;
  }

  /* -------------------- */



  div.hidden { display: none; }

  .container {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 15px;
}

.container_pastdue {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border: 2px solid #FF3067;
}

.imgtxt {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 36px;
    border-radius: 15px;
    padding: 3px;
    color: black;
  }


/* Facebook */
.loginBtn--facebook {
    width: 100%;
    background-color: #4C69BA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.loginBtn--facebook:before {
  
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
}


  #wrapper {
    width: 80%;
    display: inline-block;
    margin: 0 auto;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
}

  .column1 {
      text-align: left;
      float: left;
      width: 70%;
      padding: 10px;
      margin-left: 15%;
      margin-right: auto;

  }
  .column1_line {
      text-align: left;
      float: left;
      width: 70%;
      padding: 10px;
      margin-left: 15%;
      margin-right: auto;
      border-top: 2px solid #ccc;

  }
  .column1_header {
      text-align: left;
      float: left;
      width: 70%;
      padding-left: 10px;
      margin-left: 15%;
      margin-right: auto;

  }

  .list-container {
      text-align: center;
  }

  .edit_container {
    display: flex;
  }
  .edit_container > div {
    flex: 1;
    height: 500px;
    overflow-y: auto;
  }

  .border {
    border: 2px solid #ccc;
  }

  .border-lite {
    border: 1px solid #ccc;
  }

  .column1_nopadding {
      text-align: left;
      float: left;
      width: 70%;
      margin-left: 15%;
      margin-right: auto;
  }

  .column1_right {
      text-align: right;
      float: left;
      width: 70%;
      padding: 5px;
      margin-left: 15%;
      margin-right: auto;
  }
  .column1_center {
      text-align: center;
      float: left;
      width: 70%;
      padding: 5px;
      margin-left: 15%;
      margin-right: auto;
  }
  .column1_signin {
      text-align: center;
      float: left;
      width: 70%;
      padding: 5px;
      margin-left: 15%;
      margin-right: auto;
  }


  .minicolumn {
      float: left;
      width: 50%;
      text-align: center;
  }

  .minicolumn_edit {
    float: left;
      width: 50%;
      text-align: left;
  }

  .dummycolumn {
      float: left;
      width: 70%;
      height: 10%;
      padding: 5px;
      margin-left: 15%;
      margin-right: auto;
      color: #FFFFFF;
  }

  .chore_edit {
    width: 80%;
    background-color: #989898;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}



  .signin {
    float: left;
      width: 80%;
      height: 10%;
      padding: 5px;
      margin-left: 15%;
      margin-right: auto;
  }
  .alignleft {
    width: 50%;
    float: left;
    padding: 10px;
  }
  .alignleft_list {
    width: 30%;
    float: left;
    padding: 10px;
    overflow-y: scroll;
  }
  .alignright_list {
    width: 70%;
    float: right;
    padding: 10px;
  }
  

   .alignleft_header {
    display:inline-block;
  }
  .alignright_header {
    display:inline-block;
    float: right;
  }
  .alignleft_signin {
    width: 50%;
    float: left;
    border-right: 2px solid #ccc;
    padding: 10px;
  }
  
  .alignright_profile {
    width: 60%;
    float: right;
    padding: 10px;
    border-left: 2px solid #ccc;
  }
  .alignleft_profile {
    width: 35%;
    float: left;
    padding: 10px;
  }
  .aligncenter {
    text-align: center;
  }

/*-------------------fields*/

input[type=text], select {
    width: 50%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
}

input[type=name], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=password], select {
    width: 70%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]:hover {
    background-color: #b2dbbf;
}

input[type=submit] {
    width: 100%;
    background-color: #70c1b3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.chore {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    border: none;
}

.edit-button {
    width: 100%;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 5px;
}

.daily-text {
    color: rgb(69, 193, 209)
}

.weekly-text {
    color: #57BC90
}

.monthly-text {
    color: #015249
}

.edit-button a {
    color: white;
}

button.daily {
    background-color: rgb(69, 193, 209);
}

button.daily:hover {
    background-color: rgb(210, 238, 241);
}

button.pastdue {
    background-color: #FF533D;
}

button.pastdue:hover {
    background-color: rgb(253, 147, 133);
}

button.weekly {
    background-color: #57BC90;
}

button.weekly:hover {
    background-color: rgb(172, 214, 196);
}

button.monthly {
    background-color: #015249;
}

button.monthly:hover {
    background-color: #57a89f;
}

button.completed {
    background-color: #b8b8b8;
}

.list-name {
    display: inline-block;
    font-size: 1em;
}


input.chore_weekly_click {
    width: 100%;
    background-color: #F9C563;
    color: white;
    padding: 14px 20px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.chore_weekly_click:hover {
    background-color: #F9EC95;
}


input.chore_monthly_click {
    width: 100%;
    background-color: #247BA0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.chore_monthly_click:hover {
    background-color: #86CAE8;
}

.lists-container {
    width: 40%;
}


input.edit_name {
    width: 50%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
}

input.edit_chore {
    width: 80%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
}

input.email_invite {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

input.edit_name_button {
    width: auto;
    background-color: #000000;
    color: white;
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    white-space: normal;
}


input.edit_name_button:hover {
    background-color: #999999;
}

input.cancel_account {
    width: 70%;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    white-space: normal;
}



.facebook {
    width: 100%;
    background-color: #4C69BA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.facebook:hover {
    background-color: #5B7BD5;
}

.nav-bar {
    visibility: hidden;
    display: none;
}


.title {
    padding: 0px;
    text-align: left;
}

.edit-chore {
    max-width: 80%
}

.time-of-day-button {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}



/*-----------New Layout CSS ------------*/

.bottom-line {
    border-bottom: rgb(185, 185, 185) 1px solid;
}

@media screen and (max-width: 768px) {

    .minicolumn {
        width: 100%;

    } 

    .time-of-day-button {
        display: block;
    }
    

    .lists-container {
        width: 80%;
    }



    input.chore_daily {
        font-size: 10px;
    }

    img.logo {
        width: 35px;
        height: 35px;
      }

    .fixed-sidebar {
        position: fixed;
        width: 100%;
        height: 30px;
        padding: 0px;
        margin: 0px;
        z-index: 1000;
    }

    .chore-container {
        margin-top: 25px;
        margin-left: 0;
        width: 100%;
    }


    .right-bar {
        visibility: visible;
        display: block;
        float: right;
        margin-right: 2px;
    }

    .right-bar-daily {
        vertical-align: bottom;
        display: inline-block;
        color: rgb(69, 193, 209);
    }

    .right-bar-weekly {
        display: inline-block;
        color: #57BC90;
    }

    .right-bar-monthly {
        display: inline-block;
        color: #015249;
    }



    button.chore {
        padding: 5px;
        font-size: 1em;
    }

    .list-name {
        font-size: 1em;
    }

    .dropbtn {
        font-size: 1em;
    }

    .users-bar {
        visibility: hidden;
        display: none;
    }
    .edit-bar {
        visibility: hidden;
        display: none;
    }

    .edit-chore {
        max-width: 90%
    }



    .nav-bar {
        visibility: visible;
        display: block;
    }

    .title {
        visibility: hidden;
        display: none;
    }

    img.photo {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
      }
    
  
}

@media screen and (max-width: 340px) {

    img.list_icon {
        height: 30px;
      }

      h1 {
        font-size: 1.25em;
      }

      input.edit_name {
        width: 100%;
    }

}


