<div class="dummycolumn">
  .<br>.<br>.<br>
</div>

<div class="column1_header">
  <center>
    <h1>Edit Chore</h1> <h3>in <%= @list.name %></h3>
  </center>
  <%= render partial: 'chore_edit', locals: {chore: @chore, list: @list } %>
</div>
<div class="column1_header">
  <center>
    <h3><%= link_to "Back", :back %></h3>
  </center>
</div>