<div class="row content">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 text-left bottom-border padding4">
      <span style="display: inline-block; vertical-align: bottom;">
        <%= render partial: "/lists/list_navbar", locals: {list: @list} %>
      </span> 
  </div>
</div>
<div class="row content">
  <div class="col-xs-12 padding6">
      <center>
          <div class="edit-chore">
            <div>
              <%= render 'layouts/messages' %>
              <h3>Edit Chore</h3>
            </div>         
            <div>
              <%= render partial: 'chore_edit', locals: {chore: @chore, list: @list } %>
            </div>
            <div>
              <%= link_to "Back", edit_list_path(@chore.list) %>
            </div>
          </div>
        </center>
  </div>    
</div>







